* {
	box-sizing: border-box;
	margin: 0;
  }

body {
	font-family: "Roboto", sans-serif;
  }

.wrapper {
	width: 1360px;
	margin: 0 auto;
}

/* Menu */
.menu-containter {
	background: #FFEDB9;
	height: 50px;
}

.logo img{
	height: 50px;
	margin-top: -25px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 72px;
}

nav ul{
	display: flex;
}


.menu-item li{
	list-style: none;
	margin-right: 35px;
	margin-top: -20px;
}

.menu-item li:nth-last-of-type(1) {
	margin-right:20px;
}
.menu-item a{
	font-style: normal;
	font-weight: 550;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
}

.menu-item li:hover{
	transform: translateY(-3px);
}

.menu-item .selected{
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #3774A7;
}

/*background*/

.header-container{
	background:url("https://lh3.googleusercontent.com/fAiTh4SGHi-q0EOgO-OV8sUMcsJfvvm0t38Q1R8z4kgoufEe_V1HcTVcMagA-NzckRfoWXSIcQQ3YDhJ4yfBt4T1Mfq_x4ukUpqj3pU0t6-5imX-ypHjvjH7UJW_rOYhGhYPcHWMtmQIFjcPoc4jmZoOHGRKUnw70DzjL6IQEP4kJ7mpPRdUyaEqNxvLOCLSqfK8V_i0_fg-5u7CBlqQFvdp5a2ffQ0-LfQvJEzwNkvD3SdlJOHh_pwEjNI7GzzAMgWstxliHcC0DEV-IDDos9Emay9YRCXuq99PlDPUohmdUSEqPQdb0V-XZWg08_oTYB1js6-y_o49VUlWuquFxy46tn5Pn_q9f6T1xo739np0DQn3NKoO2ny96xjaSE0Mwkj7mGa18SUYfmwRI5q0dK4clFABr00wYY5AtFmRJtnYJ3jO3dmmnd3AXuZmGT41uG4DSsP7QDt41OvAgncemSYmGo0hMc69T5WeYZZqn4FGMCev9lFfQxDXUg1DKQFbVWFhdCgnr06wWgrul5VSD_CuHj-mX4sTzCKpTmnP-Avu_-vnQHlj_xDZHC57TMnNy7T_svl_spQaCpmX9oTEDZN0BWYbwyIOOJao4rormylZpns9qpDbnL5jMxY6kF8ZBpuJRrNoL0EsXHb0RkjAt5JDJQv6-RhzNDvfp9JdFMEQOAzjWEsohr9rFcN5=w1360-h530-no?authuser=0");
	margin-top: 50px;
	background-repeat: no-repeat;
	height: 525px;
	width: 1360px;
	align-items: center;
}

/*headers*/
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.header-content{
	margin-top: 170px;
	margin-left: 250px;
	text-align: center;
	align-items: center;
}
.header-content h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	color: #000000;
}

.header-content p{
	margin-left: 200px;
	width: 50%;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	color: #000000;
}

.header-content a img{
	margin-top: 15px;
	transition: 300ms;
}

.header-content a img:hover {
	transform: translateY(-8px);
}
